LOCATE COMP "CLK" SITE "P6";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;

LOCATE COMP "LED[0]" SITE "T6";
LOCATE COMP "LED[1]" SITE "P7";
LOCATE COMP "LED[2]" SITE "R5";
LOCATE COMP "LED[3]" SITE "R6";
LOCATE COMP "LED[4]" SITE "R4";
LOCATE COMP "LED[5]" SITE "T4";
LOCATE COMP "LED[6]" SITE "R3";
LOCATE COMP "LED[7]" SITE "T3";

LOCATE COMP "LED[8]" SITE "N3";
LOCATE COMP "LED[9]" SITE "P1";
LOCATE COMP "LED[10]" SITE "M2";
LOCATE COMP "LED[11]" SITE "N1";
LOCATE COMP "LED[12]" SITE "L2";
LOCATE COMP "LED[13]" SITE "M1";
LOCATE COMP "LED[14]" SITE "G2";
LOCATE COMP "LED[15]" SITE "K1";
